<ion-tabs>
  <ion-tab-bar slot="bottom" color="secondary">

    <ion-tab-button tab="survey-list">
      <ion-icon name="cube"></ion-icon>
      <ion-label>Survey</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vote-list">
      <ion-icon name="create"></ion-icon>
      <ion-label>Votes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="respondent-list">
      <ion-icon name="people"></ion-icon>
      <ion-label>Respondents</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>