// --------------------
// General
// --------------------
ion-app {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.is-flex {
  display: flex;
  flex-wrap: wrap;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.screen-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;

  > form, > div {
    width: 100%;
  }
}

ion-title img {
  max-height: 35px;
}

ion-content {
  --background: var(--ion-color-primary);
}

.simple-list {
  background: none;

  ion-list-header {
    --color: #fff;
  }

  ion-item {
    --border-radius: 4px;

    h3 {
      margin-bottom: 5px;
    }

    .description {
      font-size: 12px;
    }
  }

  .date-column, .time-column {
    ion-icon {
      margin-right: 5px;
    }
  }

  .time-column {
    padding-left: 15px;
  }
}

.field-list {
  border-radius: 4px;
}

.horizontal-radio-group {
  ion-radio {
    margin-right: 7px;
  }
}

.footer-cta {
  --background: none;

  ion-toolbar {
    --background: none;
  }

  ion-button {
    min-height: 56px;
  }
}