<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="assets/images/logo-blue.png" alt="Votty">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list lines="none" class="simple-list">
        <ion-list-header>
            <ion-label>
                Pilih survey yang akan diisi:
            </ion-label>
        </ion-list-header>
        <ion-item button="true" class="ion-margin" *ngFor="let survey of surveys" routerLink="/input-survey/{{survey.id}}">
            <ion-label>
                <ion-text>
                    <h3 class="ion-text-wrap">
                        <strong>
                            {{ survey ? survey.title : '' }}
                        </strong>
                    </h3>
                </ion-text>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
